.singlepost {
    flex: 9;
}

.singlepost_wrapper {
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.singlepost_img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singlepost_title {
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
}

.singlepost_title-input {
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
    text-align: center;
    border: none;
    color: gray;
    border-bottom: 1px solid lightgray;
}

.singlepost_title-input:focus {
    outline: none;
}

.singlepost_edit {
    float: right;
    font-size: 16px;
}

.singlepost_icon {
    margin-left: 10px;
    cursor: pointer;
}

.singlepost_icon:first-child {
    color: teal;
}

.singlepost_icon:last-child {
    color: tomato;
}

.singlepost_info {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: #b39656;
}

.singlepost_description {
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.singlepost_description::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}

.singlepost_description-input {
    border: none;
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.singlepost_description-input:focus{
    outline: none;
}

.single_post-button {
    width: 100px;
    border: none;
    background-color: teal;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
}