.singlepost {
    flex: 9;
}

.singlepost_wrapper {
    padding: 20px;
    padding-right: 0;
}

.singlepost_img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singlepost_title {
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
}

.singlepost_edit {
    float: right;
    font-size: 16px;
}

.singlepost_icon {
    margin-left: 10px;
    cursor: pointer;
}

.singlepost_icon:first-child {
    color: teal;
}

.singlepost_icon:last-child {
    color: tomato;
}

.singlepost_info {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: #b39656;
}

.singlepost_description {
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.singlepost_description::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}